<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{>headerLink}}
</head>
  <!-- NavBar -->
    {{> navbar}}

      <!-- Main menu -->
    <div class="container-many ">
        <img src="/images/bg5.avif" class="img-fluid " alt="...">
        <h3 class="my-4">Opps! Page Not Found</h3>
        <a href="/"><button class="button my-4">Go Back</button></a>             
    </div>
    

    <!-- Footer -->
    {{>footer}}
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>