<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
    {{>headerLink}}
    </head>
    <!-- NavBar -->
  <body id="body">
    {{> navbar}}

      <!-- Main menu -->
    <div class=" containers my-5">
        <form class="temp_form">
            <input class="form-control  mx-2" type="text" id="cityName" placeholder="Enter the city name....   " autocomplete="off" >
            
            <input type="submit" value="search" id="submitBtn"/>
        </form>
        <div class="tempInformation">
            <div class="top_layer">
                <p id="day">Monday</p>
            </div>
            <div class="main-layer">
                <p id="city_name">Get Output Here</p>
                <div class="middle_layer_data_hide">
                    <p ><span id="temp">Temp</span> <sup>o</sup></p>
                    <h3 class="mx-2"><p id="temp_status"><i class="bi bi-clouds-fill" ></i></p></h3>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer -->
    {{>footer}}
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <script src="/JS/index.js"></script>
</body>
</html>