<nav class="navbar navbar-expand-lg bg-dark ">
      <div class="container-fluid">
        <i class="bi bi-snow2 "></i><a class="navbar-brand text-warning mx-2" href="/">Weathervista</a><i class="bi bi-snow2 mx-2 "></i>
            <button class="navbar-toggler bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon "></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
              <ul class="navbar-nav ">
                <li class="nav-item ">
                  <a class="nav-link  text-light mx-4 " aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item ">
                  <a class="nav-link  text-light mx-4" aria-current="page" href="/weather">Weather</a>
                </li>
                <li class="nav-item ">
                  <a class="nav-link  text-light mx-4" aria-current="page" href="/about">About</a>
                </li>
              </ul>
            </div>
      </div>
    </nav>